@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

#chat-window {
    position:relative;
    left:300px;
    display: block;
    height: 600px;
    border: 20px dashed double none;
    width:900px;
    background-image:url("https://cdn.playbuzz.com/cdn/0dbd8e04-8b49-4109-8f3a-1a00ca2281a5/e1ad2e13-8287-4b94-968b-9f27e08c5001.jpg");
    background-size:110%;
    
}
.lazy{
    color:blue;
    border: 5px blue dotted;
    background-color:#80ced6;
}
 #carousel-example-generic img{
   		width:100%;
   		height:650px;
}
.jumbotron{
    background-image:url("https://i.ytimg.com/vi/ESBZpunwXr0/maxresdefault.jpg");
    background-size:100%;
    height:750px;
    text-align:center;
    color:aqua;
}
body{
        background-image: url("https://mail.google.com/mail/u/0?ui=2&ik=2d8ec95b28&attid=0.1&permmsgid=msg-a:r-6435752926368701435&view=fimg&sz=s0-l75-ft&attbid=ANGjdJ_UJ8zmNF6GFBGoL1-tBlvE_is9A1UjA_uy_kXtUHe3Ho3sXa9fvikJy6oToIImgdHoK72qe9qlRmwVjqmEQCcwZJTP9O9PqQ3wTeL1cqaHdo4XNB76PVRQvfI&disp=emb&realattid=ii_jp2n4l7y0");
}
h1{
     font-family:'Indie Flower', cursive; 
}
.pic{
    border:gold 20px inset; 
    width:500px;
    height:600px;
}
.pic2{
    border:gold 20px inset; 
    height:600px;
    width:1000px;
}
.carousel-inner{
    width:100%;
    max-height:500px !important;
}
.message {
    margin: 5px;
    padding: 10px;
    font-family: Arial;
    opacity: 0.8;
}

.message.received {
    background-color: #ff8080;
    text-align: left;
}
.message.sent {
    background-color: #007acc;
   text-align: right;
}

.message.received:before {
    content: "Survey Guy - ";
    font-weight: bold;
}

.message.sent:after {
    content: " - You";
    font-weight: bold;
}

.messengers {
     display: flex;
     margin-top: 10px;
     padding: 10px;
}

.senders {
     margin: 20px;   
}

.message-input {
    display: block;
    margin-top: 10px;
    width: 250px;
    height: 30px;
    font-size: 20px;
}
.btn, .btn2, .btn3, .btn4, .btn5, .btn6{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #80ced6;
}

#send-your-message,#send-your-message2 {
     background-color: #80ced6;   
}
.sender-title {
    font-weight: bold;
    font-family: Arial;
}
.results{
    position:absolute;
    font-size:50px;
    text-align:center;
}
